.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

body{
  font-family: "Public Sans",sans-serif;
  color: #495057;
  font-size: .9375rem;
}

/* custom style */
.custom-form .ant-input{
  background-color: rgba(230, 235, 245, 0.25) !important
}
.custom-form .ant-form-item-explain-error{
  margin:3px 0 15px;
  font-size: 13px;
}
